.sortable-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  color: lightyellow;
  background: burlywood;
  border-radius: 0.5rem;
}

.sortable-ghost {
  opacity: 0.4;
}

.sortable-chosen {
  cursor: grabbing;
}
